/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
header{
    background-color: rgba(0,132,253,255);
    display: flex;
}

header > div{
    width: 50%;
    padding: 1em 1.5em;
}

header > div:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header > div:last-child > i{
    font-size: 2em;
    color: white;
}
/* Main */
.padSec{
    padding: 3em 1.5em;
}

.marTop1_5em{
    margin-top: 1.5em;
}

.texAliCen{
    text-align: center;
}

.colViolet{
    color: rgba(151,146,228,255);
}
/* Section 1 */
#containerSection1 > div{
    margin-top: 1.5em;
    border-radius: 1em;
    padding: 1.5em;
    background-color: rgba(188,224,255,255);
}

#containerSection1 > div:first-child{
    margin-top: 0;
    padding-bottom: 0;
}

#btn{
    color: white;
    background-color: rgba(19,141,253,255);
    padding: 0.5em 2em;
    border-radius: 1em;
}

#btn > i{
    margin-right: 0.5em;
}

#containerSection1 img{
    width: 60%;
}

.flex{
    display: flex;
}

.jusConCen{
    justify-content: center;
}

.icon{
    font-size: 4em;
}

.colBlue{
    color: rgba(9,136,253,255);
}
/* Section 2 */
#containerSection2 > div:first-child > img{
    width: 100%;
}

.colWhite{
    color: white;
}

#containerSection2 > div:last-child > div{
    border-radius: 2em;
    padding: 1.5em;
    background-color: white;
}

#planning2{
    width: 100%;
}

#btn2{
    background-color: rgba(151,146,228,255);
    padding: 0.5em 0.8em;
    border-radius: 50%;
}

#section2{
    background-color: rgba(151,146,228,255);
}
/* Section 3 Testimonials */
.cardsTestimonials{
    margin-top: 1.5em;
    border-radius: 2em;
    padding: 1.5em;
    background-color: rgba(151,146,228,255);
}

.photoContainer{
    width: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

#testimonial1{
    background-image: url("img/testimonial1.jpg");
}

#testimonial2{
    background-image: url("img/testimonial2.jpg");
}

#testimonial3{
    background-image: url("img/testimonial3.jpg");
}
/* Section 4 Benefits */
#benefitsContainer > div{
    margin-top: 1.5em;
    border-radius: 1em;
    padding: 1.5em;
    background-color: white;
}

.fonSiz3em{
    font-size: 3em;
}

.btn3{
    color: white;
    background-color: rgba(151,146,228,255);
    padding: 0.5em 2em;
    border-radius: 1em;
}

#benefits{
    background-color: rgba(151,146,228,255);
}
/* Section 5 About Us */
#photoContainerAbout{
    width: 50%;
    aspect-ratio: 1 / 1;
    position: relative;
}

#photoContainerAbout > div{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: url("img/about.jpg");
    background-size: cover;
}

#photoContainerAbout > i{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4em;
}

.btn3 > i{
    margin-right: 0.5em;
}